.judgedocument{
    margin-top: 5%;
    width: 100%;
    margin-left: 2%;
    padding-left: -1px;
    margin-right: -4px;
}
.question{
    width: 98%;
    text-align: left;
}
.refresh{
    width:90px;
    margin-right:10px;
    margin-bottom: 20%;
}
.today{
    font-size:125%;
}
.ResultCheck{
    margin-left: -4%;
    width:140%;
}