.LoanCheck2boxdiv{
    border: solid 1px rgb(21, 136, 189);
    margin-left: 32%;
    width: 200px;
    height:100px;
    display:flex;
    justify-content: center;
    align-items: center;
}
.OnsiteAudit{
    font-size: normal;
    width: 250px;
    height: 50px;
}

.LoanCheck2Table{
    margin-left: -1%;
    width: 108%;
}

.LoanCheck2Parent{
    float:center;
    width: 135%;
    justify-content: space-between;
    align-items: left;
}
.LoanCheck2ChildLeft{
    float: left;
    flex:4px;
    text-align:left;
    color:aqua;
}
.LoanCheck2ChildRight{
    align-self: flex-end;
    color:black;
}
