.LoanCheck3boxdiv{
    border: solid 1px rgb(21, 136, 189);
    margin-left: 22%;
    width: 250px;
    height:120px;
    display:flex;
    justify-content: center;
    align-items: center;
}
.LoanProgress{
    font-size: normal;
    width: 250px;
    height: 50px;
}

.LoanCheck3Table{
    margin-left: -1%;
    width: 103%;
}

.LoanCheck3Parent{
    float:center;
    width: 135%;
    justify-content: space-between;
    align-items: left;
}
.LoanCheck3ChildLeft{
    float: left;
    flex:4px;
    text-align:left;
    color:aqua;
}
.LoanCheck3ChildRight{
    align-self: flex-end;
    color:black;
}