.LoanCheckboxdiv{
    border: solid 1px rgb(21, 136, 189);
    margin-left:17%;
    margin-top: 10%;
    width: 280px;
    height:120px;
    margin-bottom: 2%;
    display:flex;
    justify-content: center;
    align-items: center;
}
.LoanCheck1Table{
    margin-left: -1%;
    width: 108%;
}
.LoanCheckMessage{
    font-size: normal;
    width: 250px;
    height: 75px;
}

.LoanCheck1Parent{
    float:center;
    width: 135%;
    justify-content: space-between;
    align-items: left;
}
.LoanCheck1ChildLeft{
    float: left;
    flex:4px;
    text-align:left;
    color:aqua;
}
.LoanCheck1ChildRight{
    align-self: flex-end;
    color:black;
}
