.LoanFail1boxdiv{
    border: solid 1px rgb(21, 136, 189);
    margin-left: 38%;
    width: 200px;
    height:120px;
    display:flex;
    justify-content: center;
    align-items: center;
}
.NotCondition{
    font-size: normal;
    width: 220px;
    height: 35px;
}

.LoanFail1Table{
    margin-left: -1%;
    width: 100%;
}

.LoanFail1Parent{
    float:center;
    width: 170%;
    justify-content: space-between;
    align-items: left;
}
.LoanFail1ChildLeft{
    float: left;
    flex:2px;
    text-align:left;
    color:aqua;
}
.LoanFail1ChildRight{
    align-self: flex-end;
    color:black;
}