.LoanCancelboxdiv{
    border: solid 1px rgb(21, 136, 189);
    margin-left: 23%;
    width: 200px;
    height:120px;
    display:flex;
    justify-content: center;
    align-items: center;
}
.CancleCompletion{
    font-size: normal;
    width: 220px;
    height: 28px;
}
.CancelReturn{
    font-size:90%;
    margin-left: 1%;
    width: 98%;
}